# <!-- @echo name -->

<!-- @echo description -->

#### Browser

```Shell
component install <!-- @echo name -->
```

```HTML
<meta property="fb:app_id" content="{{fbAppId}}">
<meta property="og:site_name" content="{{name}}">
```