<div id="facebook-container">
	<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2F{{url}}&amp;width=80&amp;height=20&amp;colorscheme=light&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;send=true" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
</div>